body {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #F8F8F8;
    margin: 0;
}

iframe {
    margin: 20px;
    border: 1px solid gray;
}

a {
    text-decoration: none;
    color:bisque;
}

a:hover {
    color: gray;
}

p {
    margin: 5px 0px;
    font-size: x-small;
    color: gray
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #242526;
    text-align: center;
  }